<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <!-- reference CSS file -->
    <link rel="stylesheet"
          th:href="@{/css/login.css}" />
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <img src="https://png.pngtree.com/png-vector/20240128/ourlarge/pngtree-car-traveling-around-the-world-travel-element-png-image_11558021.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Etkinlik Uygulaması
    </div>
    <form th:action="@{/kullanicilar/login}" method="post" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="kullaniciAdi" id="kullaniciAdi" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="sifre" id="sifre" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a th:href="@{/kullanicilar/forgetPassword}">Forget password?</a> or <a th:href="@{/kullanicilar/register}">Sign up</a>
    </div>

    <div th:if="${error}" class="alert alert-danger mt-3">Giriş başarısız, kullanıcı adı veya şifre hatalı.</div>
    <div th:if="${success}" class="alert alert-success mt-3">Giriş başarılı!</div>
</div>
</body>
</html>