<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kullanıcı Ana Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user.css}"> <!-- CSS dosyasını dahil ediyoruz -->
    <style>
        .btn-primary{
            background-color: #6D4C41;
        }
        .profile-btn{
            background-color: #FF5722;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <!-- Üst Başlık -->
    <div class="header" style="background-color: #8D6E63">
        <h2>
            <span th:text="'Hoşgeldinnnn ' + ${session.kullaniciAdi} + '😀'">Hoşgeldin Kullanıcı</span>
        </h2>
        <div>
            <a th:href="@{/kullanicilar/login}" class="btn btn-danger logout-btn">Hesaptan Çıkış</a>
        </div>
        <div class="profile-area">
            <a th:href="@{/kullanicilar/userProfile}" class="btn btn-secondary profile-btn">Profilime Git</a>
            <div class="logo">
                <img th:src="${profileImageUrl}" alt="Kullanıcı Profili">
            </div>

            <a href="#" class="btn btn-info user-points-btn">
                <span th:text="'Puan: ' + ${userPoints}"></span>
            </a>
        </div>
    </div>

    <div class="row mt-5">

        <!-- Sol Sidebar -->
        <div class="col-md-3 sidebar-left">
            <!-- Etkinlik Oluştur -->
            <div class="mb-4">
                <h4>Etkinlik Oluştur</h4>
                <form th:action="@{/etkinlikler/register}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="etkinlikAdi" placeholder="Etkinlik Adı" name="etkinlikAdi">
                        <label for="etkinlikAdi">Etkinlik Adı</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="aciklama" placeholder="Açıklama" name="aciklama">
                        <label for="aciklama">Açıklama</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control form-control-sm" id="etkinlikSuresi" placeholder="Etkinlik Süresi" name="etkinlikSuresi">
                        <label for="etkinlikSuresi">Etkinlik Süresi</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="konum" placeholder="Konum (Geçerli Format: Mah. Cad. Sok. Sit.)" name="konum">
                        <label for="konum">Konum</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select form-select-sm" id="kategori" name="kategori" aria-label="Kategori Seçimi">
                            <option value="" selected>Seçiniz</option>
                            <option value="KÜLTÜREL">Kültürel</option>
                            <option value="SPOR">Spor</option>
                            <option value="SOSYAL">Sosyal</option>
                            <option value="SEYAHAT">Seyahat</option>
                        </select>
                        <label for="kategori">Kategori</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control form-control-sm" id="saat" placeholder="Saat" name="saat">
                        <label for="saat">Saat</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control form-control-sm" id="tarih" placeholder="Tarih" name="tarih">
                        <label for="tarih">Tarih</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control form-control-sm" id="resimUrl" placeholder="Resim URL" name="resimUrl">
                        <label for="resimUrl">Resim URL</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Oluştur</button>
                </form>
            </div>
        </div>


        <!-- Sağ Sidebar -->
        <div class="col-md-4 sidebar-right">
            <h4>Oluşturduğum Etkinlikler</h4>
            <div class="mb-4">
                <!-- Etkinlik Ara 2 -->
                <form th:action="@{/etkinlikler/search2}" method="get" class="d-flex">
                    <div class="form-floating flex-grow-1 me-2">
                        <input
                                type="text"
                                class="form-control"
                                id="etkinlikAra2"
                                placeholder="Etkinlik Ara"
                                name="query"
                        >
                        <label for="etkinlikAra2">Etkinlik Ara</label>
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm">Ara</button>
                </form>
            </div>

            <div th:each="etkinlik : ${userEvents}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img th:src="${etkinlik.resimUrl}" alt="Etkinlik Resmi" class="event-img">
                    <h5 th:text="${etkinlik.etkinlikAdi}">Etkinlik Adı</h5>
                </div>
                <div>
                    <!-- Güncelleme ve Silme Butonları -->
                    <a th:href="@{/etkinlikler/update/{id}(id=${etkinlik.id})}" class="btn btn-warning btn-sm">Güncelle</a>
                    <a th:href="@{/etkinlikler/delete/{id}(id=${etkinlik.id})}" class="btn btn-danger btn-sm">Sil</a>
                </div>
            </div>
        </div>

        <!-- Ana İçerik -->
        <div class="col-md-4 main-content">
            <h4>Önerilen Etkinlikler</h4>

            <div class="mb-4">
                <!-- Etkinlik Ara 3 -->
                <form th:action="@{/etkinlikler/search3}" method="get" class="d-flex">
                    <div class="form-floating flex-grow-1 me-2">
                        <input
                                type="text"
                                class="form-control"
                                id="etkinlikAra3"
                                placeholder="Etkinlik Ara"
                                name="query"
                        >
                        <label for="etkinlikAra3">Etkinlik Ara</label>
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm">Ara</button>
                </form>
            </div>

            <div th:each="etkinlik : ${recommendedEvents}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img th:src="${etkinlik.resimUrl}" alt="Etkinlik Resmi" class="event-img">
                    <h5 th:text="${etkinlik.etkinlikAdi}">Etkinlik Adı</h5>
                </div>
                <div>
                    <a th:href="@{/etkinlikler/showEvent/{id}(id=${etkinlik.id})}" class="btn btn-warning btn-sm">Etkinlik Detayı</a>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
