<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kullanıcı Profil Sayfası</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user-profile.css}"> <!-- CSS dosyasını dahil ediyoruz -->
</head>
<body>

<div class="container-fluid">
    <!-- Üst Başlık -->
    <div class="header">
        <h2>Kullanıcı Profil Sayfası</h2>
        <div>
            <a th:href="@{/kullanicilar/userPage}" class="btn btn-danger logout-btn">Ana Sayfa</a>
        </div>
        <div>
            <a th:href="@{/kullanicilar/login}" class="btn btn-danger logout-btn2">Hesaptan Çıkış</a>
        </div>
        <div class="profile-area">
            <a href="#" class="btn btn-info user-points-btn">
                <span th:text="'Puan: ' + ${userPoints}"></span>
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="row">

               <div class="col-md-4 sidebar-right">
                   <div class="logo">
                       <img th:src="${user.profilFotografi}" alt="Kullanıcı Profili">
                   </div>
                   <form th:action="@{/kullanicilar/userProfile}" method="post">
                       <div class="mb-3">
                           <label for="kullaniciAdi" class="form-label">Kullanıcı Adı</label>
                           <input type="text" class="form-control" id="kullaniciAdi" name="kullaniciAdi" required maxlength="50" th:value="${user.kullaniciAdi}">
                       </div>

                       <div class="mb-3">
                           <label for="sifre" class="form-label">Şifre</label>
                           <input type="text" class="form-control" id="sifre" name="sifre" required maxlength="100" th:value="${user.sifre}">
                       </div>

                       <div class="mb-3">
                           <label for="ePosta" class="form-label">E-Posta</label>
                           <input type="email" class="form-control" id="ePosta" name="ePosta" required maxlength="100" th:value="${user.ePosta}">
                       </div>

                       <div class="mb-3">
                           <label for="konum" class="form-label">Konum (Şu Formata Uygun Giriş Yapınız: Mah. Cad. Sok. Sit.)</label>
                           <input type="text" class="form-control" id="konum" name="konum" th:value="${user.konum}">
                       </div>

                   <div class="mb-3">
                       <label for="ilgiAlanlari" class="form-label">İlgi Alanları</label>
                       <input type="text" class="form-control" id="ilgiAlanlari" name="ilgiAlanlari" th:value="${user.ilgiAlanlari}">
                   </div>

                   <div class="mb-3">
                       <label for="ad" class="form-label">Ad</label>
                       <input type="text" class="form-control" id="ad" name="ad" required maxlength="50" th:value="${user.ad}">
                   </div>

                   <div class="mb-3">
                       <label for="soyad" class="form-label">Soyad</label>
                       <input type="text" class="form-control" id="soyad" name="soyad" required maxlength="50" th:value="${user.soyad}">
                   </div>

                   <div class="mb-3">
                       <label for="dogumTarihi" class="form-label">Doğum Tarihi</label>
                       <input type="date" class="form-control" id="dogumTarihi" name="dogumTarihi" th:value="${user.dogumTarihi}">
                   </div>

                   <div class="mb-3">
                       <label for="cinsiyet" class="form-label">Cinsiyet</label>
                       <select class="form-select" id="cinsiyet" name="cinsiyet" th:value="${user.cinsiyet}">
                           <option value="">Seçiniz</option>
                           <option value="ERKEK">Erkek</option>
                           <option value="KADIN">Kadın</option>
                           <option value="DIGER">Diğer</option>
                       </select>
                   </div>

                   <div class="mb-3">
                       <label for="telefonNumarasi" class="form-label">Telefon Numarası</label>
                       <input type="tel" class="form-control" id="telefonNumarasi" name="telefonNumarasi" maxlength="20" th:value="${user.telefonNumarasi}">
                   </div>

                   <div class="mb-3">
                       <label for="profilFotografi" class="form-label">Profil Fotoğrafı URL</label>
                       <input type="url" class="form-control" id="profilFotografi" name="profilFotografi" th:value="${user.profilFotografi}">
                   </div>

                   <button type="submit" class="btn btn-primary"> Güncelle </button>
                       </form>
               </div>


        <!-- Sağ Sidebar -->
        <div class="col-md-4 past-events">
            <h4>Katıldığım Etkinlikler</h4>
            <div th:each="etkinlik : ${pastEvents}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img th:src="${etkinlik.resimUrl}" alt="Etkinlik Resmi" class="event-img">
                    <h5 th:text="${etkinlik.etkinlikAdi}">Etkinlik Adı</h5>
                </div>
                <div>
                    <a th:href="@{/etkinlikler/showEvent/{id}(id=${etkinlik.id})}" class="btn btn-warning btn-sm">Etkinlik Detayı</a>
                </div>
            </div>
        </div>

        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
